@{
    ViewData["Title"] = "Card";
}
<h1>Card</h1>
<div class="row row-cols-1 row-cols-md-3 g-4" id="rrc">

</div>



@section scripts
{

    @* https://getbootstrap.com/docs/5.3/components/card/#grid-cards *@
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots.CommonFormat.Section);
        //console.log(spots.CommonFormat.Section[0]); 

        const rrc1 = document.querySelector('#rrc');
        const sss = spots.CommonFormat.Section.map((e) => {

            const xbody = (e.xbody <= 100) ? e.xbody : e.xbody.substr(0, 100) + '...';
            
            if (e.file.img.length > 0)
                return `<div class="col">
                            <div class="card h-100">
                                <img src="${e.file.img[0].text}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">${e.stitle}</h5>
                                            <p class="card-text">${xbody}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">${e.xpostDate}</small>
                                </div>
                            </div>
                        </div>`;
        })
        rrc1.innerHTML = sss.join("");


        // const theuuu = document.querySelector('#uuu');
        // const liEmps = emps.map(
        //     e => {
        //         return `<li>${e.name},${e.workYears},${e.salary}</li>`
        //     });

        // theuuu.innerHTML = liEmps.join("");

    </script>
}