
@{
    ViewData["Title"] = "Card";
}

<h1>Card</h1>

@section scripts
{
        @* https://getbootstrap.com/docs/5.3/components/card/#grid-cards *@
    <script src="~/js/travel.js"></script>
    <script>
        console.log(spots.CommonFormat.Section);
    </script>


}